$font-family-default: arial, sans-serif;
$font-family-primary: var(--font-family-primary), sans-serif;

$txt-size-xs: 0.75rem; // 12 px
$txt-size-small: 0.875rem; // 14 px
$txt-size-default: 1rem; // 16 px
$txt-size-upper: 1.125rem; // 18px
$txt-size-regular: 1.25rem; // 20px
$txt-size-medium: 1.5rem; // 24px
$txt-size-big: 2rem; // 32px
$txt-size-l: 1.875rem; // 30 px
$txt-size-xl: 2.5rem; // 40px
$txt-size-xxl: 4rem; // 64px
