@use '../bases.scss' as base;
@use 'sass:map';

.dropdown {
  box-sizing: border-box;
  inline-size: fit-content;
  block-size: fit-content;
  font-family: var(--typo_font-family);
  font-size: var(--typo_text-2-font-size);
  line-height: var(--typo_text-2-line-height);
  color: var(--semantic-color_content-primary);
  font-weight: var(--typo_font-weight--normal);
  outline: 0;
}

.dropdown details {
  box-sizing: border-box;
  display: block;
  inline-size: fit-content;
  min-block-size: rem(48px);
  block-size: fit-content;
  outline: 0;
}

.dropdown > label {
  display: inline-block;
  margin-block-end: rem(4px);
}

.dropdown summary {
  display: flex;
  cursor: pointer;
  list-style: none;
  position: relative;
  inline-size: fit-content;
  border-radius: rem(4px);
  background-color: var(--semantic-color_background-primary);
  padding: 20px 20px 20px 20px;
  outline: 0;
  //   box-shadow: inset 0 0 0 rem(1px) var(--semantic-color_border-inactive);
}

.dropdown summary::-webkit-details-marker {
  display: none;
}

.dropdown:not([aria-disabled='true']) summary:hover {
  //   box-shadow: inset 0 0 0 rem(1px) var(--semantic-color_border-inactive),
  //     0 0 0 3px var(--semantic-color_hover-primary);
}

.dropdown:not([aria-disabled='true']) summary:active,
.dropdown:not([aria-disabled='true']) details[open] summary,
.dropdown:not([aria-disabled='true']) summary:focus-visible {
  //   box-shadow: inset 0 0 0 rem(2px) var(--semantic-color_border-active);
}

.dropdown[aria-disabled='true'] summary {
  pointer-events: none;
}

.dropdown[aria-disabled='true'] details > *,
.dropdown[aria-disabled='true'] > label {
  opacity: 0.5;
}

.dropdown[aria-disabled='true'] > label,
.dropdown[aria-disabled='true'] details {
  cursor: not-allowed;
}

.dropdown summary::after {
  content: '';
  mask: url("data:image/svg+xml;charset=utf-8, <svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='m8 8.781 3.3-3.3.943.943L8 10.667 3.757 6.424l.943-.943 3.3 3.3z'/></svg>");
  mask-size: cover;
  inline-size: rem(24px);
  block-size: rem(24px);
  position: absolute;
  display: block;
  inset-inline-end: rem(10px);
  transition: transform 200ms ease;
  background-color: blue;
}

.dropdown_items {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: grey;
  border-radius: rem(4px);
  block-size: fit-content;
  inline-size: fit-content;
  padding: 20px;
  //   box-shadow: var(--shadow_300);
  z-index: 2;
  overflow-y: auto;
  transform: translateY(20px);
  max-block-size: rem(260px);
}

.dropdown_items:focus {
  outline: none;
  //   box-shadow: var(--shadow_focus-visible);
}

.dropdown_items input[type='checkbox'] {
  position: relative;
  opacity: 0;
  inline-size: 0;
  block-size: 0;
}

.dropdown_items > label {
  box-sizing: border-box;
  background-color: red;
  padding: 20px;
  margin: 0;
  width: 100%;
  block-size: 100%;
  border-radius: rem(4px);
  display: inline-flex;
  position: relative;
  height: auto;
}

.dropdown_items > .divider {
  width: 100%;
}

.dropdown_items span[class^='vtmx-'] {
  font-size: base.$lg-unit;
  margin-inline-end: 5px;
}

.dropdown_items > label:hover {
  background-color: green;
  cursor: pointer;
}

.dropdown_items > label:active {
  background-color: black;
}

.dropdown_items > input:focus-visible + label {
  //   box-shadow: var(--shadow_focus-visible);
  z-index: 2;
}

.dropdown_items > input:checked + label {
  color: white;
  padding-inline-end: rem(48px);
}

.dropdown_items > input + label::after {
  content: '';
  mask: url("data:image/svg+xml;charset=utf-8, <svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='m6.667 10.115 6.128-6.129.943.943L6.667 12 2.424 7.757l.943-.942 3.3 3.3Z'/></svg>");
  width: rem(24px);
  block-size: rem(24px);
  position: relative;
  display: block;
  margin-inline-start: 20px;
  background-color: transparent;
}

.dropdown_items > input:checked + label::after {
  background-color: white;
  position: absolute;
  inset-inline-end: 0;
  margin-block: 0;
  margin-inline: rem(12px);
}

.dropdown details[open] summary::after {
  transform: rotateZ(-180deg);
}

.dropdown_items > input:last-of-type ~ .divider {
  display: none;
}
